<div class="container" >
    <h2>{{ title }}</h2>
    <div class="row row-content">
        <div class="col-sm-9">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class=" text-light">
                            <th>STEP 1</th>
                            <th>VALUES</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-primary">
                        <tr>
                            <th>First Name</th>
                            <td>{{this.data.data['firstname']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Middle Name</th>
                            <td>{{this.data.data['middlename']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{this.data.data['lastname']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{this.data.data['age']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>{{this.data.data['gender']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Nationality</th>
                            <td>{{this.data.data['nation']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Marital Status</th>
                            <td>{{this.data.data['marital']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody> <br />
                    <button routerLink="/step1" mat-raised-button color="primary" >Update Step 1</button> <br /> <br />
                    <thead>
                        <tr class=" text-light">
                            <th>STEP 2</th>
                            <th>VALUES</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-primary">
                        <tr>
                            <th>Aadhaar No. </th>
                            <td>{{this.data.data['aadhaar']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Tell us about Yourself</th>
                            <td>{{this.data.data['urself']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>How much do you fear darkness ?</th>
                            <td>{{this.data.data['dark']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Hobby</th>
                            <td>{{this.data.data['hobby']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Languages known</th>
                            <td>{{this.data.data['Tamil']}}</td>
                            <td>{{this.data.data['English']}}</td>
                            <td>{{this.data.data['Hindi']}}</td>
                        </tr>
                    </tbody> <br />
                    <button routerLink="/step2" mat-raised-button color="primary" >Update Step 2</button> <br /> <br />
                    <thead>
                        <tr class=" text-light">
                            <th>STEP 3</th>
                            <th>VALUES</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-primary">
                        <tr>
                            <th>Nick Name</th>
                            <td>{{this.data.data['nickname']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Tell us one of your favourite quote </th>
                            <td>{{this.data.data['quote']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>So you are a fan of... </th>
                            <td>{{this.data.data['marvelDc']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>What is the capital of India ?</th>
                            <td>{{this.data.data['question']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>What's your lucky number</th>
                            <td>{{this.data.data['luckyNum']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Your email id</th>
                            <td>{{this.data.data['email']}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody> <br />
                    <button routerLink="/step3" mat-raised-button color="primary" >Update Step 3</button> <br /> <br />
                </table>
            </div>                
        </div>
   </div> 
</div>